<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Udacity wiki</title>
</head>

<body>
  <h1><a href="/" id="main-title">Udacity</a></h1>

  <div id="user">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a href="/login">login</a>
      |
      <a href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="controls">
    {% if user %}
      <a href="/_edit{{url}}">edit</a>
    {% endif %}
  </div>

  <div id="content">
  {{content}}
  </div>

</body>

</html>